[user]
  email = david.programming@protonmail.com
  name = David

[core]
  editor = nvim
	excludesfile = /home/david/.config/git/ignore
[alias]
  p = push
  st = status
  c = commit
  ll = log --oneline
  last = log -1 HEAD --stat
  d = diff
  ds = diff --staged
  dv = difftool -t vimdiff -y
  gl = config --global -l
  rev = reset --soft HEAD^
